:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}